/* Redefinições de estilo */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */

header {
  background-color: #000;
  color: #fff;
  padding: 15px;
  position: relative;
}

header::before {
  content: "";
  /* display: block; */
  padding-top: 10.25%; 
}

header img {
  position: absolute;
  top: 25px;
  left: 335px;
  width: 35%;
  height: 35%;
}
/* header h1 {
  font-size: 24px;
  margin-bottom: 10px;*/
}

main {
  float: right;
  background-color: #000;
  color: #fff;
  margin-top: 0px;
  padding: 15px;
}

main section ul {
  list-style-type: circle;
}

main section ul li {
  display: inline-block;
  margin-right: 10px;
}

main section ul li a {
  color: #fff;
  text-decoration: none;
}

main section li a:hover {
  text-decoration: underline;
}

/* Conteúdo principal */


footer {
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
}
